.chatbotIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color:white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatbotClosed {
  background-color: white;
  border-radius: 30%;
}

.chatbotContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatInput {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chatHeader {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.message {
  margin-bottom: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  max-width: 70%;
  min-width: 0px;
  overflow: hidden;
}

.user {
  background-color: #d4e6fc;
  align-self: flex-end;
  color: black;
  margin-left: auto;
}

.bot {
  background-color: #007bff;
  align-self: flex-start;
  color:white;
  margin-right: auto;
}

.inputField {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.sendButton {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}