
.menuOptions {
    background-color: white;
    height: 6rem;
    border-style: solid;
    position:relative;
}

.iceDrinks {
    position: absolute;
    bottom:30%;
    left:10%;
}

.hotDrinks {
    position: absolute;
    left: 26%;
    bottom: 30%;
}

.navBar {
    position:absolute;
    right: 9%;
    bottom: 30%;
}

