
html {
    scroll-behavior: smooth;
  }


.button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    border: none;
    font-size: 1rem;
    background-color: white;
}

.button:focus {
    border-bottom-style: solid;
    border-bottom-color: #5a4fcf;
    border-width: 4px;
    border-radius: 2px;
    padding-bottom: 5px;
}

