
.navBar {
    position: relative;
    width: 35rem;
}

.nav_button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5a4fcf;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border-style: solid;
    border-color: #5a4fcf;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    float:inline-end;
    width: auto;
    background-color: white;
    cursor: pointer;
}

.nav_linkDropdown {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5a4fcf;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border-style: solid;
    border-color: #5a4fcf;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    width: auto;
    cursor:pointer;
    background-color: white;
}

.more {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5a4fcf;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border-style: solid;
    border-color: #5a4fcf;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    width: 5rem;
    background-color: white;
    cursor:pointer;
}

.nav_linkChange {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    border-style: solid;
    border-color: #5a4fcf;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    float:inline-end;
    width: auto;
    background-color: white;
    color:white;
    background-color: #5a4fcf;
}

.nav_button:focus {
    color:white;
    background-color: #5a4fcf;
}

.nav_linkDropdown:focus {
    color:white;
    background-color: #5a4fcf;
}

.dropdown {
    direction: rtl;
    position: absolute;
    right: 0%;
    top: 0%;
    width: fit-content;
}

.dropdownContent {
    display: none;
    position: relative;
    float:left;
    height: 8rem;
    width: 28rem;
    border-radius: 25px;
}

.dropdown:focus-within .more {
    color:white;
    background-color: #5a4fcf;
}

.dropdownPills {
    position: absolute; 
    bottom: 30%;
    left: 0%;
}

.dropdownContent Link {
  float: none;
  width: 40rem;
  height: 60rem;
}

.dropdownContent h2 {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    float: top;
    width:fit-content;
    position: absolute;
    margin-top: 1.5%;
    left:4px;
}


.dropdown:focus-within .dropdownContent {
    background-color: white;
    display: flex;
    position: absolute;
    top: 0%;
    justify-content:right;
    align-items:flex-start;
    top: 2.1rem;
    direction: ltr;
    z-index: 2; 
}








