
.Tea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 0.5rem 2.3rem 0.5rem;
}

.Tea .imageContainer {
    height: 16.66rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: #000;
}

.imageContainer img {
    width: 100%;
  }

.Tea h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
